<h1>About Herding Cats</h1>
<p>Our fake business is located in the heart of the Mid-City neighborhood New Orleans.  Come check us out!</p>
<h1>Our Team</h1>
<p>This application was built by Sia Karamalegos as a learning Rails application for the Tech Talent South summer 2015 cohort.</p>
<h3>Social Media</h3>
<p>Follow Sia on GitHub and Twitter:</p>
<p><a href="https://github.com/siakaramalegos" target="_blank"><%= fa_icon "github", class: "fa-2x" %></a>   <a href="https://twitter.com/thegreengreek" target="_blank"><%= fa_icon "twitter", class: "fa-2x" %></a></p>
<h3>Tech Talent South</h3>
<p>Want to learn more about Tech Talent South?  Click <a href="http://techtalentsouth.com/" target="_blank">here</a>!</p>
